@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Raleway", sans-serif;
    line-height: 30px;
}
.main {
    background-image: url("./Assets/background.png");
    margin: 0;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .quiz {
        width: 30%;
        height: 70%;
        position: relative;

        h2 {
            color: white;
        }
        .quizarea {
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 10px;
        }
        @media only screen and (max-width: 768px) {
            width: 80%;
            height: 80%;
        }
    }
}
